.promoction{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
    padding: 20px 150px 20px;
    z-index: 2;
}
.promoction__item>a {
    color: black;
}
.promoction__h{
    padding-top:25px ;
    margin-top: 0px;
    font-size: 60px;
}
.promoction__item{
    display: flex;
    text-align: left;
    padding: 30px 0px; 
    height: 325px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.596);
}
.promoction__imgbox {
    height: 260px;
    min-width: 370px;
    margin-right: 30px;
    overflow: hidden;
    border: 1px solid grey;
}
.promoction__imgbox > img{
    height: 260px;
    width: 370px;
}
.promoction__item:last-child {
    border-bottom: none;
}
.promoction__textbox>h3 {
    font-size: 42px;
    margin: 0px;
    width: 80%;
}
.promoction__textbox>p {
    width: 80%;
    margin-left: 5px;
}
.promoction__showmore{
    height: 80px;
    width: 100%;
}
.promoction__showmore > img{
    height: 60%;
    width: auto;
}
@media only screen and (max-width: 1400px) {
    .promoction {
        padding: 0 50px 80px;
    }
    .promoction__textbox>h3 {
        font-size: 38px;
    }
 
}
@media only screen and (max-width: 1100px) {
    .promoction__item{
        height: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 40px 0px;
    }
    .promoction__imgbox {
        height: 250px;
        margin-bottom: 20px;
    }
    .promoction__textbox>h3 {
        width: 100%;
    }
    .promoction__textbox>p {
        width: 100%;
    }
    .promoction__textbox>h3 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 600px) {
    .promoction {
        padding: 20px 15px;
    }
    .promoction__imgbox {
         height: 180px;
         width: 180px;
         margin-bottom: 20px;
         border: none;
        margin: 0px;
        margin-bottom: 15px;
     }
    .promoction__imgbox>img {
        height: 180px;
        width: 180px;
    }
    .promoction__item {
        width: 95%;
    }
}