.newsletter{
    position: relative;
    height: 380px;
    width:99vw;
    padding: 0 140px;
    position: relative;
    background-image: url('./img/backgroundNe.jpg');
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.newsletter__textbox{
    position: absolute;
    z-index: 2;
    color: white;
    text-align: left;
}
.newsletter__textbox > h2{
    font-size: 45px;
    margin-bottom: 0px;
} 
.newsletter__textbox>p {
    margin: 0px;
    opacity: .8;
    font-size: 22px;
}
.newslatter__btn{
    margin-top: 70px;
    width: 300px;
    height: 60px;
    background-color: #3b5998;
    border: none;
    opacity: .9;
}
.newslatter__btn:hover{
    opacity: 1;
}
.newslatter__btn > p{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
}
.newsletter__checbox{
    border-radius: 50%;
    border: none;
    margin-top: 16px;
    margin-left: 0px;
    margin-right: 12px;
}
.newsletter__checkdiv{
    display: flex;
    width: 36.6%;
    font-size: 14px;
}
.newsletter__thanks{
    position: absolute;
    top: 50%;
    left:50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    display: none;
}
@media only screen and (max-width: 1400px) {
    .newsletter__checbox {
        margin-right: 5px;
    }
    .newsletter__checkdiv {
        width: 51%;
    }
    .newsletter {
        background-attachment: local;
        padding: 0 50px;
     
    }
}
@media only screen and (max-width: 800px) {
    .newslatter{
        height: 250px;
    }
    .newsletter__checkdiv {
        width: 95%;
    }
    .newslatter__btn {
        margin-top: 50px;
        display: flex;
        width: 90%;
    }
    .newsletter__textbox {
        text-align: center;
    }
    .newsletter__textbox > h2{
        font-size: 45px;
    }
}
@media only screen and (max-width: 600px) {
    .newsletter{
        height: 260px;
        padding: 15px;
        background-size: 200%;
    }
    .newsletter__textbox>h2 {
        font-size: 28px;
        margin-bottom: 0px;
    }
    .newsletter__textbox>p{
        font-size: 16px;
        margin-bottom: 0px;
    }
    .newslatter__btn {
        margin-top: 30px;
        display: flex;
        width: 90%;
    }
}