.header__background{
    position: relative;
    height: 70vh;
    width: 99vw;
    color: white;
    background-image: url('./img/background.png');
    background-position: center;
    background-size: cover;
}
.header__imgbackground{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.header__textcenter{
    height: 100px;
    width: 99vw;
    position: absolute; 
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.header__textcenter > h2{
    margin: 0px;
    font-size: 53px;
}
.header__textcenter > p{
    margin: 0px;
    opacity: .9;
}
.header__button{
    position: absolute;
    left: 50%;
    bottom: 5%;
    height: 70px;
    width: 180px;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #8E0C15;
    opacity: .9;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 1px;
}
.header__button:hover{
    opacity: 1;
}
@media only screen and (max-width: 1400px) {
    .header__button {
        bottom: 0%;
    }
    .header__textcenter>h2 {
        font-size: 45px;
    }
}
@media only screen and (max-width: 900px) {
 .header__textcenter>h2 {
     font-size: 22px;
 }
 .header__textcenter>p {
     font-size: 15px;
     width: 80%;
 }
}