.footer{
    height: 100px;
    width: 100%;
    background-color: rgb(82, 82, 82);
    padding: 0px 60px;
    color: white;
    display: flex;
    align-items: center;
}
.footer > p{
    text-align: left;
    font-size: 17px;
} 
@media only screen and (max-width: 600px) {
    .footer {
        padding: 80px 50px;
    }
} 