.footer{
    height: 100px;
    width: 99vw;
    background-color: rgb(82, 82, 82);
    padding: 5px 50px;
    color: white;
}
.footer > p{
    text-align: left;
    font-size: 17px;
} 
@media only screen and (max-width: 600px) {
    .footer {
        padding: 15px 15px 130px;
    }
}